@using System.Security.Principal
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>@User.Identity.Name)</div>
            <form method="post" asp-controller="Login" aspcontroller="Logout">
                <input type="submit" value="Logout" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>

    <div>
        @DateTime.Now
    </div>

    <div>
        @RenderBody()
    </div>

</body>
</html>