<div id="main-container" style="text-align:center">
  <h1>  
      ASP.NET Core SignalR Chat with Angular
  </h1>

  <h2>¡Bienvenido {{nick}}!</h2>
  <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="container" *ngIf="messages.length > 0" style="width:70%;background-color:lightgoldenrodyellow;">

    <div *ngFor="let message of messages">
      <div *ngIf="message.mio; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div col-md-12 style="text-align:right">
          <div col-md-6></div>
          <div col-md-6>
            <strong><small>{{message.fecha}}</small> {{message.nick}} - {{message.mensaje}}</strong>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div col-md-12 style="text-align:left;background-color:lightgray;">
          <div col-md-6>
            <strong><small>{{message.fecha}}</small> {{message.nick}} - {{message.mensaje}}</strong>
          </div>
          <div col-md-6></div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="container">
    <form #chatForm="ngForm" (ngSubmit)="sendMessage();chatForm.reset();">
      <div>
        <label for="message">Mensaje</label>
        <input autocomplete="off" type="text" id="message" name="message" [(ngModel)]="message" required>
        <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
          Enviar Mensaje
        </button>
      </div>

    </form>
  </div>
</div>
